*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
#main_container{
    margin: auto;
    margin-top: 40px;
    width: 850px;
    height: 800px;
    border: 3px solid rgb(97, 97, 100);
    padding: 10px;
    box-shadow: 7px 8px rgb(97, 97, 100);
    border-radius: 7px;
}
p,h1{
    /* position: absolute; */
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}
h1{
    text-align: center;
}
/* .player_health{
    height: 25px;
    width: 200px;
    background: #73AD21;
    border-radius: 50px;
    position: absolute;
    right: 8rem;
    margin-top: 20px;
    padding: 5px;
}
.robort_health{
    height: 25px;
    width: 200px;
    background: #73AD21;
    border-radius: 50px;
    position: absolute;
    left: 8rem;
    margin-top: 20px;
    padding: 5px;
} */
#str-msg{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
#player_health_status,#robot_health_status{
    height: 25px;
    width: 200px;
    background: #079a69;
    border-radius: 50px;
    margin-top: 10px;
    padding: 5px;
    flex: 1;
}
#player_health_status{
    right: 50px;
}
#robot_health_status{
    left: 50px;
}
.player{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
#btn_wrapper{
text-align: center;
display: flex;
margin-top: 20px;
}
.btn{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    justify-content: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
    border-radius: 10px;

} 
#message{
    height: 500px;
    width: 500px;
    background-color: rgb(39, 45, 48);
    border-radius: 10px;
    margin:0 auto;
    margin-top: 20px;
}
#message {
    display: flex;
  justify-content: center;
  align-items: center;

}
.health_msg{
    width: 90px;
    height: 20px;
    border-radius: 10px;
    background-color: aliceblue;
    flex: 2;
    margin-top: 15PX;


}
.playerHp{
 
    float: right;
}
.robotHp{
 
    float: left;
}
#battle{
    display: flex;
   
}

img{
    margin-top:10px;
    width: 110px;
    height: 80px;
}
#player2{
    margin-left: 90px;
}
.robotHp p{
    margin-left: 7px;
}
.playerHp p{
    margin-left: 7px;
}
